@page
@model MiniAccountSystem.Pages.ChartOfAccounts.CreateModel
@{
}
<h2>Create Account</h2>

<form method="post">
    <div class="mb-2">
        <label>Name</label>
        <input type="text" asp-for="Account.Name" class="form-control" />
    </div>
    <div class="mb-2">
        <label>Parent Account</label>
        <select asp-for="Account.ParentId" class="form-control">
            <option value="">-- None --</option>
            @foreach (var acc in Model.ParentAccounts)
            {
                <option value="@acc.Id">@acc.Name</option>
            }
        </select>
    </div>
    <button class="btn btn-primary">Save</button>
</form>